@import '../../static/styles/variable.scss';

.period-detail{
    &-header, &-allocation, &-category-rate, &-safe-rate, &-analysis {
        margin-top: #{$space}px;
    }
    &-list {
        &-row {
            display: flex;

            .subject {
                flex: 2;
            }

            .amount {
                text-align: right;
            }
        }
        &-cell {
            display: inline-block;
            flex: 1;
            padding: #{$inner-block-padding-sm}px #{$inner-block-padding-md}px
        }
    }

    &-form {
        padding-right: 80px;
    }
}