@import '../../static/styles/variable.scss';

.timing-investment-form {
    padding: #{$inner-block-padding-lg}px #{$inner-block-padding-xl}px 0;
    border: 1px dashed $grayBorderColor;
    border-radius: 4px;
}